<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家农产品初始页面</title>

    <script>
        function checkNumber(){
            var name=document.forms["add"]["pro_name"].value;
            var gif=document.forms["add"]["pro_gif"].value;
            var price=document.forms["add"]["pro_price"].value;
            var address=document.forms["add"]["pro_address"].value;
            var type=document.forms["add"]["pro_type"].value;

            if (name==null || name==""){
                alert("[农产品名字]必须填写");
                return false;
            }
            if (gif==null || gif==""){
                alert("[农产品图片]必须填写");
                return false;
            }
            if (price==null || price==""){
                alert("[农产品价格]必须填写");
                return false;
            }
            if (address==null || address==""){
                alert("[农产品位置]必须填写");
                return false;
            }
            if (type==null || type==""){
                alert("[农产品类型]必须填写");
                return false;
            }
        }
    </script>

    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/css/custom.min.css" rel="stylesheet">

</head>
<body>
<h1>欢迎来到农场初始页面</h1>
<h1 >WELCOME!商家</h1>
<!--这三行只是一个测试-->
<div><img src="produce_picture/ss.gif" alt="图片说明" width="40" height="40"></div>
<!--<h1 th:text="${bns_id}"></h1>-->
<!--<h1 th:text="${farm}"></h1>-->
<hr>
<table class="table table-striped" border="0">
    <tr>
        <td>
            <table>
                <tr th:each="produce,status : ${produce}">
                    <td><img th:src="@{produce_picture/{pro_gif}(pro_gif=${produce.pro_gif})}" width="200" height="200"></td>
                </tr>
            </table>
        </td>
        <td>
            <table th:each="produce,status : ${produce}">
                <tr>
                    <td>序号</td>
                    <td th:text="${produce.pro_id}"></td>
                </tr>
                <tr><tr>
                <td><b>农产品名字</b></td>
                <td th:text="${produce.pro_name}"></td>
            </tr>
                <tr>
                    <td>价格</td>
                    <td th:text="${produce.pro_price}"></td>
                </tr>
                <tr>
                    <td>位置</td>
                    <td th:text="${produce.pro_address}"></td>
                </tr>
                <tr>
                    <td>拥有者id（这个商家的id）</td>
                    <td th:text="${produce.bns_id}"></td>
                </tr>
                <tr>
                    <td>类型</td>
                    <td th:text="${produce.pro_type}"></td>
                </tr>
                <tr>
                    <td>操作</td>
                    <td><a th:href="@{/delBusinessProduce(pro_id=${produce.pro_id},bns_id=${produce.bns_id})}"><button>下架</button></a></td>
                </tr>
                <br>
            </table>
        </td>
    </tr>
</table>
<hr>
<form action="addBusinessProduce" method="post" name = "add" onsubmit=" return checkNumber()">
    <h1>上架请在此处填写农产品信息</h1>
    <table>
        <tr>
            <td><h3>农产品名字</h3></td>
            <td><input type="text" name="pro_name" id="pro_name" class="form-control"></td>
        </tr>
        <tr>
            <td><h3>农产品图片</h3></td>
            <td><input type="file" name="pro_gif" id="pro_gif" accept=".gif,.jpg" /> </td>
        </tr>
        <tr>
            <td><h3>农产品价格</h3></td>
            <td><input type="text" name="pro_price" id="pro_price" class="form-control" onkeyup="value=value.replace(/[^1234567890-]+/g,'')"></td>
        </tr>
        <tr>
            <td><h3>农产品位置</h3></td>
            <td><input type="text" name="pro_address" id="pro_address" class="form-control"></td>
        </tr>
        <tr>
            <td><h3>农产品类型</h3></td>
            <td><input type="text" name="pro_type" id="pro_type" class="form-control"></td>
        </tr>
        <tr>
            <td><h3>农产品详情</h3></td>
            <td><input type="text" name="pro_Detail" id="pro_Detail" class="form-control"></td>
        </tr>
        <tr>
            <!--<td><h3>拥有者id</h3></td>-->
            <td><input type="text" name="bns_id" id="bns_id" class="form-control" th:value = "${bns_id}" hidden></td>
        </tr>
        <tr>
            <td><input type="submit" name="submit"></td>
        </tr>
    </table>
</form>
</body>
